.livechart .point {
  color: #E00000;
}

.livechart .text {
  color: #999999;
  font-size: 10px;
}

.livechart .label {
  color: #666666;
}

.livechart .title {
  font-size: 18px;
  color: #666666;
}

.livechart .linechart,
.livechart .areachart {
  padding-left: 25px;
  padding-right: 10px;
  padding-bottom: 35px;
  padding-top: 20px;
  border-radius: 3px;
}

.livechart .areachart .point {
  border-color: #fff;
}

.livechart .histogram {
  padding-left: 50px;
  padding-bottom: 30px;
  padding-top: 5px;
  padding-right: 10px;
}

.livechart .barchart {
  padding-left: 10px;
  padding-bottom: 20px;
  padding-top: 25px;
  padding-right: 10px;
}

.livechart .barchart .item {
  width: 10px;
}

.livechart .piechart,
.livechart .arcchart,
.livechart .polarchart {
  padding: 10px;
}

.livechar .arcchart .item {
  width: 15px;
  margin: 5px;
}
.livechart .polarchart .label {
  font-size: 10px;
  color: #666666;
}

.livechart .polarchart .segment {
  border-color: #ffffff;
  border-width: 1px;
}

